:root{
    /*шрифты*/
--main-font-family: "Noto Sans";
      /*цвета*/
--button-background-color:  #ffffff;
--color: #000000;
    /*граница кнопок*/
--border: 1px solid #000000;
--fill:#000;
--background-color:#ffffff;
--background-color-header: #f2f2f2;
--background-color-card_type:  #f2f2f2;
--color-wrapper__text_cover: #c7c7c7;
}